* {
    background-color: thistle;
}

.container {
    background-color: thistle;
}

h1 {
text-align: center;
color: white;
background-color: tomato;
font-weight: 100 !important;
padding: 1em;
}

.card {
    background-color: thistle !important;
    
}